@import '../../../../../theme.module.scss';

.mainContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
    // border: 1px solid $gray;
    box-shadow: 0 0 1px 1px $gray;
    border-radius: 5px;
    width: min-content;

    img {
        height: $tecnologyIconHeight;
    }

    p {
        font-size: $tecnologyFontSize;
    }
}