@import '../../../../../../../theme.module.scss';

.input {
    width: 100%;
    height: 50px;
    border: 1px solid $primary;
    border-radius: 50px;
    padding: 0 10px;
    transition: all 0.05s;

    &:focus{
        border: 2px solid $primary;
        outline: none;
    }

    &:disabled {
        border: 2px solid $success;
    }
}

.textarea {
    width: 100%;
    height: 130px;
    padding: 5px 5px;
    border: 1px solid $primary;
    border-radius: 10px;
    resize: none;
    overflow: auto;

    &:focus{
        border: 2px solid $primary;
        outline: none;
    }

    &:disabled {
        border: 2px solid $success;
    }
}