@import '../../../../../../theme.module.scss';

.mainContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 10px;

    .innerContainer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: auto;
        transform: translateY(15%);

        .iconSup{
            max-height: 80px;
            max-width: 80px;
            grid-row: 1;
            justify-self: center;
            align-self: center;

            @include sm {
                max-height: 40px;
                max-width: 40px;
            }
        }

        .iconInf{
            max-height: 55px;
            max-width: 55px;
            transform: translateY(-50%);
            grid-row: 2;
            justify-self: center;
            align-self: center;

            @include sm {
                max-height: 30px;
                max-width: 30px;
            }
        }
    }
}